body {
    text-align: center;  
}

.image {
   width: 70%;
}

.navigation {
   justify-content: space-around;
   display: flex;
}

@media (max-width: 768px) {
   .image {
      width: 100%;
   }
}

h1 {
    font-size: 2rem;
}

nav {
    font-size: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 14px
    }
}