@import "globals";

.mainMenu {
  display: inline-flex;
  flex-direction: column;

  background-color: slategray;
  /*background: rgba(22,71,121,0.98);*/
  color: ghostwhite;
}

.mainMenu__navLink {
  width: 100%;
  box-sizing: border-box;

  flex-grow: 0;
  flex-shrink: 0;

  text-align: center;

  /*font-size: 20px;
  color: aliceblue;*/
  color: ghostwhite;
  padding: 1em;
  font-size: 1.5em;
}

.aboutMenu {
  display: flex;
  flex-shrink: 1;

  width: 100%;
 /* height: 40px;*/

  background-color: slategray;
  /* background: rgba(22,71,121,0.98);*/
}

.aboutMenu__navLink {
  height: 100%;
  width: 100%;

  flex-shrink: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  /*color: aliceblue;*/

  color: ghostwhite;
  padding: .5em;
}



.homeMenu {
  display: flex;

  background-color: slategray;
  color: ghostwhite;

  border-top: dashed .5em ghostwhite;
  border-bottom: dashed .5em ghostwhite;

  padding: 1em;
}

.homeMenu__navLink {
  flex-grow: 1;
  flex-shrink: 1;

  text-align: center;

  color: ghostwhite;

  font-size: 2em;
}